*{
    font-family: Oswald;
   
}
ol, ul {
    padding-left: 0rem;
}
:root {
    --black: #0A0A0A;
    --gray:#838383;
    --base-colors-white: #ffffff;

  }

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}  
p,a{
    font-size: 16px;
    color: var(--gray);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.016px;
    text-decoration: none;
    
}

h1{
    font-size: 38px;
    color: var(--black);
    text-transform: uppercase;
    line-height: 48px;
}


h2{
    color: var(--base-colors-white, #FFF);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

h3{
    color: var(--base-colors-white, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

h4{
    color:var(--black);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}

h5{
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}
/* header */
.top-bar-header{
    margin: 45px 0px;
}
.btn{
    padding: .325rem .75rem;
}
.search-box button{
    right: 0px;
}
.social-media li{
    list-style: none;
    margin-right: 10px;
}

/* navbar */
.nav-link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
.navbar-nav{
    margin: auto;
}
.navbar-nav li{
    margin-right: 10px;
}

.norway-one{
    background-image: url(images/hero-section.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 272px;
    position: relative;
    
    
}
.norway-two{
    background-image: url(images/hero-section-two.png);
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 272px;
    position: relative;  
}
button{
    border: none;
    padding: 5px 10px;
    color: #FFF;
    text-transform: uppercase;
}
.norway-one button{
    background: #047FFA;
    position: absolute;
    top: 5%;
    left: 10%;
   
}
.norway-two button{
    background: #CE0CFF;
    position: absolute;
    top: 5%;
    left: 10%;
   
}
.northern{
    position: absolute;
    bottom: 0;
}

/* footer */
footer{
    background:var(--black);
}
footer hr{
    color: var(--base-colors-white);
}
.trip-talk p{
    color: #fff;
}
.footer{
    padding: 80px 0 48px 0px;
}
.footer h5{
    color: #fff;
    width: 168px;
}
.footer li{
    color: #fff;
    list-style: none;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.most-read{
    margin-bottom: 1.5rem;
}
.subscribe{
    margin: 56px 0px;
}
.footer .form-control{
    padding: 16px;
}
.copyright{
    margin-top: 48px;
}
.copyright p>a{
    color:#047FFA ;
}
.copyright li{
    margin-right: 10px;
}

/* hero section */

.northern{
    margin-left: 24px;
    width:263px;
}
.northern span{
    margin-left: 10px;
}
.northern p,.carousel-caption p,.discover-everything p{
    line-height: 20px;
    display: flex;
    align-items:center;
}
.carousel-caption{
    text-align:left;
}
.carousel-caption h5{
    font-size:38px;
    color: #fff;
    line-height:48px;
}
.carousel-caption span,.discover-everything span{
    margin-left: 10px;
}
.carousel-caption strong,.discover-everything strong{
    margin: 0px 10px;
}

/* want to go */
.where{
    bottom:0px;
    margin-left: 5%;
}
.want-to-go{
    margin-top: 56px;
}
.top-destination h1{
    margin: 70px 0px 27px 0px;
}
.destination,.discover button, .hills button{
    top: 5%;
    left: 10%;
}
/* Gutenberg block post */

.Gutenberg{
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.Gutenberg h2{
    font-size:44px;
    line-height: 56px;
}
.download{
    display: flex;
    align-items: center;
    
}
.download button{
    background: #047FFA;
    padding: 14px 20px;
}
.post-block-section{
    margin: 60px 0 150px 0;
}
.amazing-places{
    margin-bottom:70px;
}
.amazing-places h1{
    margin-bottom: 30px;
}
.amazing-places h2{
    color: var(--black);
    font-size: 32px;
    width: 80%;
    line-height: 42px;
}
.discover-everything p{
    width:80%;
}

.hills h3{
    color: var(--black);
    width: 90%;
}
.hills .most-places{
    margin-bottom: 20px;
}
.hills .most-places>.position-relative img{
    height: 188px;
}
.hills .city{
    margin-left: 20px;
}

.my-journey-section{
    margin-top:70px;   
}
.journal h1{
    width:75%;
}
.popular-post h3{
    font-size:24px;
    line-height: 28px;
}
.small-block h4{
    font-size:14px;
    line-height: 22px;
    width: 50%;
}
.small-block p{
    font-size:14px;
    line-height: 22px;
    margin-bottom:5px;
}
.small-block{
    margin-left: 20px;
}

.small-post-block{
    top: 0;
    margin-left:32px;
    margin-top: 20px;
}
.small-post-block p{
    color: #D9D9D9;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.08px;
    width: 80%;
}
.small-post-block button{
    color: #fff;
    border: 1px solid #FFF;
}